<!--  search bar start -->
<%# <div class="search-bar">
  <%= form_with url: cocktails_path, method: :get, class: "d-flex my-3" do %>
    <%# <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "find a cocktail"
    %>
    <%# <%= submit_tag "find", class: "btn btn-primary" %>
  <%# <% end %>
<%# </div> %>
<%# begining of styling %>


<%# new search bar %>

  <div class="assistant-headings">
    <h1 class="boxword">cocktails</h1>
  </div>

  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <%= form_with url: cocktails_path, method: :get, class: "d-flex my-3" do %>
            <%= text_field_tag :query,
                params[:query], autocomplete: 'off',
                class: "form-control",
                placeholder: "find a cocktail"
            %>
            <%= button_tag type: 'submit', class: "btn search-button" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>

          <div class="spirit-grid">
            <% if !@ingredients.nil? %>
              <% @ingredients.each do |cocktail| %>
                <%= button_to cocktail_path(cocktail), method: :get, class: "remove-border" do %>
                  <div class="spirit-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(ingredient.photo.key) %>');">
                    <h4><%= cocktail.name %></h4>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

     <div class="spirit-grid">
    <!-- Our spirits cards that will be displayed in a grid -->
      <%@cocktails.each do |cocktail| %>
      <!-- these cards will have the background image we chose with the text centered -->
      <%= button_to cocktail_path(cocktail), method: :get, class: "remove-border" do %>
        <div class="spirit-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(cocktail.photo.key) %>');">
          <%= cocktail.name.downcase %>
        </div>
      <% end %>
    <% end %>
  </div>
