  <div class="assistant-headings">
    <h1 class="boxword margin-bottom">my bar</h1>
  </div>

   <div class="spirit-grid margin-bottom-grid">
      <% @user_ingredients.each do |ingredient| %>
        <!-- these cards will have the background image we chose with the text centered -->
          <%= turbo_frame_tag dom_id(ingredient), target: :_top do %>
          <div class="spirit-cards-assistant" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path(ingredient.ingredient.photo.key) %>');">
              <%= link_to user_ingredient_path(ingredient), data: { "turbo-method": :delete } do %>
              <i class="fa-solid fa-circle-minus fa-lg fa-shake delete-this" style="--fa-animation-duration: 3s"></i>
            <% end %>
            <%# <%= cl_image_tag spirit.photo.key, height: 60, width: 60, crop: :fill %>
              <p class="ing-text"><%= ingredient.ingredient.name.downcase %></p>
          </div>
          <% end %>
      <% end %>
    </div>
