<div class="wrapper">
  <div id="content-goes-here"> <!-- the id here is just to remind you -->
  </nav>
  </div>
  <div id="footer-goes-here"> <!-- the id here is just to remind you -->
    <nav>
    <ul>
      <li><a href="<%= ingredients_path %>"><i class="fa-solid fa-house-chimney fa-lg"></i></a></li>
      <li><a href="<%= cocktails_path %>"><i class="fa-solid fa-martini-glass fa-lg"></i></a></li>
      <li><a href="<%= non_spirits_path %>"><i class="fa-solid fa-lemon fa-lg"></i></a></li>
      <li>
        <a href="<%= pages_path %>">
        <i class="fa-solid fa-user-tie fa-lg"></i></a>
        <% if user_signed_in? %>
          <span class="badge"> <%= current_user.ingredients.count %> </span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
