<div class="contianer">
  <!-- Our top buttons to filter spirits or ingredients -->
  <div class="index-grid">
    <div>
      <h1 class="boxword">spirits</h1>
    </div>
    <div>
      <h1 class="boxword-clear">ingredients</h1>
    </div>
  </div>

  <!-- search bar goes here -->
  <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8">

          <%= form_with url: ingredients_path, method: :get, class: "d-flex my-3" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "search for spirit"
            %>
            <%= button_tag type: 'submit', class: "btn search-button" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
            

          <% end %>
        <div class="spirit-grid">
          <% if !@ingredients.nil? %>
            <% @ingredients.each do |ingredient| %>
              <div class="spirit-cards" style="background-image: url('<%= cl_image_path(ingredient.photo.key) %>');">
                <h4><%= ingredient.name %></h4>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="home-page-h2">base spirits</p>
  <div class="spirit-grid">
    <!-- Our spirits cards that will be displayed in a grid -->
    <%@spirits.each do |spirit| %>
      <!-- these cards will have the background image we chose with the text centered -->

      <% if false %>
        <div data-controller="add-to-bar" data-action="click->add-to-bar#create" data-add-to-bar-id-value="<%= spirit.id %>" class="spirit-cards">
          <div class="spirit-cards" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path(spirit.photo.key) %>');">
            <%= spirit.name %>
          </div>
        </div>
      <% end %>

      <%= button_to add_ingredients_path(spirit), method: :post, class: "spirit-cards" do %>
        <div class="spirit-cards" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path(spirit.photo.key) %>');">
          <%= spirit.name.downcase %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="next-grid">
    <p class="next-button-invisible"> previous </p>
    <a href="/non_spirits" class="next-button"> next </a>
  </div>
</div>

<%# /non_spirits %>
