<div class="contianer">
  <!-- Our top buttons to filter spirits or ingredients -->
  <div class="index-grid">
    <div>
      <h1 class="boxword-clear">spirits</h1>
    </div>
    <div>
      <h1 class="boxword">ingredients</h1>
    </div>
  </div>

  <!-- search bar will go here -->
 <div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8">

          <%= form_with url: non_spirits_path, method: :get, class: "d-flex my-3" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "search for ingredients"
            %>
            <%= button_tag type: 'submit', class: "btn search-button" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>
        <div class="spirit-grid">
          <% if !@ingredients.nil? %>
            <% @ingredients.each do |ingredient| %>
              <div class="spirit-cards">
                <h4><%= ingredient.name %></h4>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Our spirits cards that will be displayed in a grid -->
    <%@non_spirits.each do |spirit| %>
      <!-- these cards will have the background image we chose with the text centered -->
      <div data-controller="add-to-bar" data-action="click->add-to-bar#create add-to-bar#slide" data-add-to-bar-id-value="<%= spirit.id %>" class="ingredient_card fade-in">
        <div>
          <%= cl_image_tag spirit.photo.key, height: 60, width: 60, crop: :fill %>
        </div>
        <div class="desc-container">
          <div class="spirit-name">
            <%= spirit.name.downcase %>
          </div>
          <div class="description">
            <%= spirit.description.truncate(35) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="next-grid-ingredients">
    <a href="/ingredients" class="next-button"> previous </a>
    <a href="/ready_to_make" class="next-button"> next </a>
  </div>

</div>

<!-- this is for trying to animate ingredient selections
<script>
    $('.slide').on('click', function(){
      $('#fade-in').toggleClass('show');
  });
</script>
-->
