<div class="container">
  <!-- Our top buttons to filter spirits or ingredients -->
  <div class="assistant-headings">
    <div class="index-grid">
      <a href="/ingredients" class="link-style">
          <h1 class="boxword-clear">spirits</h1>
        </a>
      <div>
        <h1 class="boxword">ingredients</h1>
      </div>
    </div>

    <!-- search bar will go here -->
  <div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8">

            <%= form_with url: non_spirits_path, method: :get, class: "d-flex my-3" do %>
              <%= text_field_tag :query,
                params[:query], autocomplete: 'off',
                class: "form-control",
                placeholder: "search for ingredients"
              %>

              <%= button_tag type: 'submit', class: "btn search-button" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            <% end %>
          <div class="spirit-grid">
            <% if !@ingredients.nil? %>
              <% @ingredients.each do |ingredient| %>
                <%= button_to add_ingredients_path(ingredient), method: :post, class: "remove-border" do %>
                  <div class="spirit-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(ingredient.photo.key) %>');">
                    <h4><%= ingredient.name %></h4>
                  </div>
                  <% end %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Our spirits cards that will be displayed in a grid -->
    <div class="spirit-grid">
      <%@non_spirits.each do |spirit| %>
        <!-- these cards will have the background image we chose with the text centered -->
        <%= button_to add_ingredients_path(spirit), method: :post, class: "remove-border" do %>
          <div class="spirit-cards" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(spirit.photo.key) %>');">
            <%# <%= cl_image_tag spirit.photo.key, height: 60, width: 60, crop: :fill %>
              <%= spirit.name.downcase %>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="next-grid">
    <a href="/ingredients" class="next-button"><i class="fa-solid fa-chevron-left fa-fade" style="--fa-animation-duration: 3s;"></i></a>
    <a href="/ready_to_make" class="next-button"><i class="fa-solid fa-chevron-right fa-fade" style="--fa-animation-duration: 3s;"></i></a>
  </div>
</div>
