<!DOCTYPE html>
<html>
  <head>
    <title>Homemixed - The best bar is yours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta name="home mixed" content="Making cocktails">
    <title>Home Mixed, the best bar is yours</title>
    <meta content="Home Mixed" property="og:title">
    <meta content="This application allows you to create some of the best cocktails from the comfort of your home, using spirits and ingredeints you already have" property="og:description">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://www.homemixed.club/">
    <meta property="og:image" content="http://www.homemixed.club/images/homemixed3-og.jpg">
  </head>

  <body>

    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
